.wrapper {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 1fr;
}

.wrapper.open {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 1fr;
}

.sidebar {
  grid-row-start: 1;
  grid-column-start: 1;
}

.content {
  grid-row-start: 1;
  grid-column-start: 2;
}